/* .global-nav { margin: 1.25rem 0; }
.global-nav a { text-decoration: none; } */
.nav-root { list-style: none; padding: 0; margin: 0; }
.nav-item { margin: .25rem 0; }
.nav-children { list-style: none; padding-left: 1rem; margin: .5rem 0; }
summary { cursor: pointer; }
.is-active { font-weight: 700; text-decoration: underline; }
